@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab')


html,
body
  padding 0
  margin 0
  font-family 'Roboto Slab', serif
.title-nav
  font-family 'Roboto Slab', Serif
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  &:hover
    cursor pointer
    color #FBDA34
a
  text-decoration none
p
  font-family 'Slab', sans-serif
.page-enter-active, .page-leave-active
  transition: opacity .5s
.page-enter, .page-leave-to
  opacity: 0
